﻿@model Project_Test.Models.Number

<div class="text-center">
    <form asp-action="Index">
        <br /><br />
        <h1 class="display-4">Number : @ViewBag.Number</h1><br /><br />
        <div class="form-group">
            <input asp-for="Numberic" class="form-control" placeholder="Enter Text" /><br />
            <button type="submit" value="Action" class="btn btn-primary mr-2 btn-custom-width">Save</button>
        </div>
    </form>
</div>
